# 忽略所有.pyc和.pyo文件
*.pyc
*.pyo
**/.DS_Store

# 忽略logs目录下的所有日志文件，但不忽略error.log文件
logs/*
!logs/error.log


# 忽略dist目录下的所有文件，包括子目录
dist/

# Python中常见的忽略文件和目录

# 用于保存虚拟环境的目录
venv/

# 编译过程中生成的中间文件
__pycache__/

# 包含安装的依赖库的目录
lib/

# 包含生成的二进制文件或可执行文件的目录
bin/

# 包含生成的文档或报告的目录
doc/

# 包含生成的分析数据或图表的目录
analysis/

# 日志文件
*.log